@import 'styles/base.scss';

.container {
  .content {
    align-self: center;
  }
  
  .message_bar_toast {
    visibility: hidden;  
    transition: all 1s;  
    background: #1F1F1F;
    border-radius: 32px;
    font-family: Larsseit-Bold;
    font-style: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    position: fixed;
    bottom: 42px;
    padding: 28px 40px 28px 40px;
    left: calc(50% - 200px);
    width: 400px;
    display: flex;
    align-items: center;
    transform: scale(0.75);
    justify-content: center;
  }
  .show {
    visibility: visible;
    -webkit-animation: fadein 2s, fadeout 2s 3s;
    animation: fadein 2s, fadeout 2s 3s;
  }
  .hide {
    bottom: 0px !important;
    opacity: 0 !important;
  }
  
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 42px; opacity: 1;}
  }
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 42px; opacity: 1;}
  }
  @-webkit-keyframes fadeout {
    from {bottom: 42px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  @keyframes fadeout {
    from {bottom: 42px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
}
