@import 'styles/base.scss';

.start_container {
  margin: auto;
  padding-bottom: 0px;
  max-width: 1200px;
  transform: scale(0.75);

  .image_container {
    margin-top: 12px;
    display: flex;
    justify-content: center;

    .start_img {
      width: 240px;
      margin-bottom: 12px;
    }
  }


  @media (max-width: 768px) {
    .image_container {
      margin-top: -133px;
    }
  }

  .start_header {
    font-family: Larsseit-ExtraBold;
    font-size: 60px;
    letter-spacing: -0.7px;
    text-align: center;
  }

  .start_p {
    font-family: Larsseit-Regular;
    font-size: 24px;
    text-align: center;
    color: #E6E8EC;
    line-height: 32px;
    padding-top: 12px;
    max-width: 640px;
    margin: auto;
  }

  @media (max-width: 768px) {
    .start_header {
      font-size: 48px;
    }
  }

  .steps_container {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;

    .img_dot {
      height: 12px;
      margin-top: 90px;
      margin-right: 24px;
    }

    .img_dot_last {
      height: 12px;
      margin-top: 90px;
    }

    @media (max-width: 768px) {
      .img_dot,
      .img_dot_last {
        display: none;
      }
    }

    .step {
      width: 100%;
      display: flex;
      flex-direction: column;
    
      .img_step {
        width: 160px;
        align-self: center;
        margin-top: 20px;
      }

      .check {
        height: 32px;
        width: 32px;
        align-self: center;
        margin: -72px 0px 40px 72px;
      }

      .optional_block {
        align-self: center;
        height: 25px;
        width: 75px;
        background: #3D3D3D;
        border-radius: 8px;
        margin-top: -52px;
        margin-bottom: 27px;

        .optional_text {
          font-family: Larsseit-Regular;
          font-size: 14px;
          color: #F3F3F4;
          text-align: center;
          margin-top: 3px;
        }
      }

      .header_step {
        text-align: center;
        margin-top: 0px;
        font-size: 32px;
        margin-bottom: 30px;
        margin-left: -42px;
        margin-right: -42px;
      }

      @media (max-width: 768px) {
        .header_step {
          max-width: 300px;
          align-self: center;
          margin-top: -12px;
        }
      }

      .button_step {
        background: #006EFF;
        height: 64px;
        border-radius: 16px;
        width: 171px;
        color: white;
        font-size: 23px;
        font-family: Larsseit-Bold;
        align-self: center;
        margin-left: 4px;
        line-height: 28px;
      }

      .mobile_hide {
        align-self: center;
      }

      @media (max-width: 768px) {
        .button_step,
        .mobile_hide {
          display: none;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .steps_container {
      flex-direction: column;
    }
  }

  .more {
    display: flex;
    justify-content: center;
    margin-left: calc(50% - 165px);
    margin-top: 72px;
    border: 2px solid rgba(255, 255, 255, 0.25);
    height: 64px;
    width: 330px;
    border-radius: 16px;

    .more_text {
      font-family: Larsseit-Bold;
      font-size: 23px;
      margin-top: 13px;
    }
  }

  @media (max-width: 768px) {
    .more {
      margin-bottom: -90px;
    }
  }
}
